:root {
  --widthBurger: 100px;
  --headerHeight: 100px;
}

* {
  margin: 0;
  padding: 0;
}

#header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  background-color: cornflowerblue;
  height: var(--headerHeight);
  width: 100%;
  font-size: 2em;
}

#footer {
  bottom: 0;
  width: 100%;
  background-color: lightseagreen;
}

.burgerMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--widthBurger);
  height: var(--headerHeight);
}

.burgerBorder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  border: 2px black solid;
  border-radius: 25%;
}

/* .burgerBorder:hover {
  background-color: rgba(255, 255, 255, 0.5);
} */

.burgerMenuIcon {
  width: calc(var(--widthBurger) / 2);
  height: calc(var(--headerHeight) / 2);
}

#room {
  display: grid;
  gap: 1px;
}

.seat {
  width: 100px;
  height: 50px;
  border: 1px solid black;
}
