:root {
  --widthBurger: 100px;
  --headerHeight: 100px;
  --seatwidth: 100px;
  --seatHeight: 50px;
}

* {
  margin: 0;
  padding: 0;
}

#header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  background-color: cornflowerblue;
  height: var(--headerHeight);
  width: 100%;
  font-size: 2em;
}

#footer {
  bottom: 0;
  width: 100%;
  background-color: lightseagreen;
}

.burgerMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--widthBurger);
  height: var(--headerHeight);
}

.burgerBorder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  border: 2px black solid;
  border-radius: 25%;
}

/* .burgerBorder:hover {
  background-color: rgba(255, 255, 255, 0.5);
} */

.burgerMenuIcon {
  width: calc(var(--widthBurger) / 2);
  height: calc(var(--headerHeight) / 2);
}

#room {
  display: grid;
  align-items: center;
  justify-content: center;
}

.seat {
  width: var(--seatwidth);
  height: var(--seatHeight);
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

.SeatGraphic {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-items: center;
  align-items: center;
}

.Table {
  border: 1px black solid;
  background-color: burlywood;
  width: calc(var(--seatwidth) * 0.8);
  height: calc(var(--seatHeight) * 0.5);
}

.Chair {
  border: 1px black solid;
  background-color: gray;
  border-radius: 100%;
  height: calc((var(--seatHeight)*0.4));
  width: calc((var(--seatHeight)*0.4));
}
