{% extends 'base.html' %}

{% block title %}
    Shared Desk - Admin
{% endblock %}

{% block heading %}
    Admin
{% endblock %}

{% block content %}
    <div id="admin">
        <div id="adminTableView">
            <table>
                <tr>
                    <th>Table Name</th>
                    <th>Room</th>
                    <th>Position</th>
                </tr>
                {% if desks is none %}
                    <tr>
                        <td>No tables found</td>
                    </tr>
                {% endif %}
                {% desks %}
                {% for desk in desks %}
                    <tr>
                        <td>{{ desk.tablename }}</td>
                        <td>{{ desk.room }}</td>
                        <td>{{ desk.position }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div id="addTable">
            <h2>Add Table</h2>

            <!-- form with input tablename, room, position -->
            <form action="/admin" method="POST">
                <label for="tablename">Table Name:</label>
                <input type="text" id="tablename" name="tablename" value="table1">
                <label for="room">Room:</label>
                <input type="text" id="room" name="room" value="room1">
                <label for="position">Position:</label>
                <input type="text" id="position" name="position" value="position1">
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
    function toggleNavMenu() {
        window.location.href = "/";
    }
  </script>
{% endblock %}