{% extends 'base.html' %}

{% block title %}
    TEMPLATE123
{% endblock %}

{% block content %}
    <!-- form with input tablename, room, position -->
    <form action="/admin" method="POST">
        <label for="tablename">Table Name:</label>
        <input type="text" id="tablename" name="tablename" value="table1"><br><br>
        <label for="room">Room:</label>
        <input type="text" id="room" name="room" value="room1"><br><br>
        <label for="position">Position:</label>
        <input type="text" id="position" name="position" value="position1"><br><br>
        <input type="submit" value="Submit">
{% endblock %}