{% extends 'base.html' %} {% block title %} Shared Desk - Admin {% endblock %}
{% block heading %} Admin
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
{% endblock %} {% block content %}
<div id="admin">
  {% comment %} <div id="adminTableView">
    <table id="desksTable">
      <h2>Desks</h2>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Room</th>
        <th>Position</th>
      </tr>
      {% if desks is none %}
      <tr>
        <td>No tables found</td>
      </tr>
      {% endif %} {% for desk in desks %}
      <tr>
        <td>{{ desk.id }}</td>
        <td>{{ desk.name }}</td>
        <td>{{ desk.room }}</td>
        <td>{{ desk.x_pos }}/{{ desk.y_pos }}</td>
      </tr>
      {% endfor %}
    </table>
  </div> {% endcomment %}
  <div id="addTable">
    <h2>Add Room</h2>

    <!-- form with input tablename, room, position -->
    <form id="submitNewRoom">
      <label for="room">Room:</label>
      <input type="text" id="room" name="room" placeholder="Roomname" /><br />
      <label for="Dimensions">Dimensions:</label><br />
      <label>Room Height:</label>
      <input
        type="text"
        id="y_Dimensions"
        name="y_Dimensions"
        placeholder="y"
      />
      <label>Room Width:</label>
      <input
        type="text"
        id="x_Dimensions"
        name="x_Dimensions"
        placeholder="x"
      />
      <input id="AddNewRoomButton" type="submit" value="Submit" disabled />
    </form>
    <div id="TablePreview"></div>
  </div>
</div>

<div id="TablePreview"></div>
{% endblock %} {% block scripts %}
<script>
  function toggleNavMenu() {
    window.location.href = "/";
  }
</script>

<script>
  var python_desks = {{ desks| tojson }};
</script>
<script src="{{ url_for('static', filename='AdminView.js') }}"></script>
{% endblock %}
